a{
    text-decoration: none;
}
div ol a:hover{
    color: aqua;
    background-color: brown;
}
a:hover{
    color: red;
} 
p:first-child{
    background-color:lightgreen;
}
section:hover p{
    background-color: yellow;
    display: block;
}
 section p{
    display: none;
}
div p::first-letter {
color: black;
font-size: 50px;
}
div p{
    background-color: lightgray;
}
div p::first-line{
    font-size: 30px;

}